* {
	font-family: "Poppins", sans-serif;
	/* margin: 0;
	padding: 0; */
	scroll-behavior: smooth;
	color-scheme: light dark;
	--black: #0f172a;
	--white: #f9f9f9;
	--gray: #bbbbbb;
}

body {
	margin-left: 25%;
	margin-right: 25%;
	color: light-dark(var(--black), var(--white));
	background-color: light-dark(var(--white), var(--black));
}

a {
	color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
